<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
      
      <div class="tituloSucursales" style="margin-top:100px">NUESTRAS SUCURSALES</div>
  
      <div class="cajaSucursales">
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8102833119938!2d-58.38096752353073!3d-34.60895855777625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad19e4254d7%3A0xc9a88525add98046!2sAv.%20de%20Mayo%20844%2C%20C1086%20CABA!5e0!3m2!1ses!2sar!4v1702660852451!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">CABA</div>
            <div class="direccionSucursal">Av. Mayo 458</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4381353460444!2d-58.79284682352937!3d-34.64363645960874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc944e17e673ff%3A0x6f641b3a21487d00!2sBlvd.%20Evita%2075%2C%20B1744%20Moreno%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702660927917!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">New York | USA</div>
            <div class="direccionSucursal">Manhattan Ave 63</div>
          </div>
        </div>
      </div>
  
      <div class="tituloSucursales">NUESTROS SHOWROOMS</div>
  
      <div class="cajaSucursales">
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.9823606310283!2d-58.72956082353688!3d-34.452595649534175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca20c117bf0e3%3A0xcd856576ed4b2105!2sTortugas%20Open%20Mall!5e0!3m2!1ses!2sar!4v1702667536922!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">TORTUGAS OPEN MALL</div>
            <div class="direccionSucursal">Ramal Pilar Km 36.5</div>
          </div>
        </div>
        <div class="sucursal ultimaSucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.481984584392!2d-58.86342872391052!3d-34.61169675002447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc911270dd578b%3A0xad84ea88f9b3e53b!2sAv.%20Gaona%2013601%2C%20B1746%20Francisco%20Alvarez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702667668483!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">FRANCISCO ALVAREZ | MORENO</div>
            <div class="direccionSucursal">Gaona 13601</div>
          </div>
        </div>
      </div>

  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>