<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
      
      <div class="tituloSucursales" style="margin-top:100px">NUESTRAS SUCURSALES</div>
  
      <div class="cajaSucursales">
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642.1813771468267!2d-58.38757652279855!3d-34.59498752664015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccab9a022e5a9%3A0x2950101b3dc651ed!2sTalcahuano%201170%2C%20C1013AAX%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1712929346416!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">CABA | ARGENTINA</div>
            <div class="direccionSucursal">Talcahuano 1170</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.4288174922744!2d-73.96580412358328!3d40.796569732433504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f6217b5793b5%3A0x482f4a2ec48adb85!2s63%20Manhattan%20Ave%2C%20New%20York%2C%20NY%2010025%2C%20EE.%20UU.!5e0!3m2!1ses!2sar!4v1712929273185!5m2!1ses!2sar"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">New York | USA</div>
            <div class="direccionSucursal">Manhattan Ave 63</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1402.3482115400589!2d13.393960277058328!3d52.523169723241985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851e7e363a335%3A0x494d3c50bd1af1f6!2sZiegelstra%C3%9Fe%2022%2C%2010117%20Berlin%2C%20Alemania!5e0!3m2!1ses!2sar!4v1712929447858!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">Berlin | ALEMANIA</div>
            <div class="direccionSucursal">Ziegelstraße 22</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1287.2571754556093!2d144.9942932727252!3d-37.82884608715154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6428c2fc4eecf%3A0x857c4557d68edf15!2s15%20William%20St%2C%20Richmond%20VIC%203121%2C%20Australia!5e0!3m2!1ses!2sar!4v1712929624752!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">Melbourne | AUSTRALIA</div>
            <div class="direccionSucursal">15 William St</div>
          </div>
        </div>
      </div>
  
  </body>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</html>