.cajasFormulariosContacto{
    display: flex;
    font-family: "Poppins";
    justify-content: center;
    margin-bottom: 50px;
}
.hijoFormularioContacto{
    width: 550px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.tituloContacto{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.textoContacto{
    font-size: 17px;
    text-align: justify;
}
.formularioContacto form{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 15px;
}
.formularioContacto input{
    margin: 7px 0;
    padding: 7px;
    border-radius: 0;
    border: black solid 2px;
}
.formularioContacto textarea{
    margin: 7px 0;
    padding: 7px;
    resize: none;
    border: black solid 2px;
}
.formularioContacto textarea:hover, .formularioContacto input:hover{
    border: red solid 2px;
    cursor: pointer;
}
.formularioContacto button{
    width: 250px;
    font-size: 17px;
    margin: 10px auto 0 auto;
    padding: 7px 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
    transform: skew(-21deg);
    color: black;
    background-color:white;
    font-weight: bold;
}
.formularioContacto button .relleno{
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 0;
    color: black;
    transition: 0.3s;
    z-index: -1;
    background: var(--color-secundario);
    color: black;
}
.formularioContacto button:hover .relleno{
    width: 100%;
}
.aceptoBases:hover{
    color: red;
    cursor: pointer;
}
.cajaRedesContacto{
    background: rgb(198, 198, 198);
    border-radius: 15px;
    margin-top: 15px;
    padding: 20px 10px;
}
.cajaRedesContacto p{
    display:flex;
    margin-bottom: 10px;
}
.cajaRedesContacto i{
    font-size: 25px;
    color: black!important;
    width: 50px;
    text-align: center;
}
.tituloRedesContacto{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}
.textoRedesContacto{
    font-size: 17px;
}
.textoRedesContacto p:hover, .textoRedesContacto p:hover i, .textoRedesContacto a:hover{
    color: white!important;
    font-weight: bold;
}
@media (max-width: 1000px){ 
    .cajasFormulariosContacto{
        flex-direction: column;
        align-items: center;
    }
    .hijoFormularioContacto{
        width: 80%;
        padding: 20px;    }
    .formularioContacto form{
        padding-right: 0px;
    }
    .tituloContacto{
        text-align: center;
    }
}
@media (max-width:600px){ 
    .tituloContacto{
        font-size:20px;
    }
    .cajaRedesContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width:480px){ 
    .tituloContacto{
        padding: 0;
    }
    .hijoFormularioContacto{
        width: 100%;
        padding: 20px;
    }
}