
.formularioCreacionProducto{
    display:flex;
    flex-direction:column;
    width:700px;
    margin: 50px auto 10px auto;
}
.formularioCreacionProducto input{
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
}
.formularioCreacionProducto input:hover{
    background-color: gainsboro;
}
.formularioCreacionProducto select{
    margin: 5px;
    padding: 10px;
    width: 98%;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
}
.botonCrear{
    text-align: center;
    border:violet solid 2px;
}
@media (max-width:800px){ 
    .formularioCreacionProducto{
        width: 90%;
        margin: 50px auto 10px auto;
    }
    .botonCrear{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}