.promoHeader{
    text-align:center;
    background-color: #252A2E;
    color: white;
    font-weight: bold;
}
.navbar{
    background: black;
}
.navbar a {
    color: white;
}
.navbar-brand {
    height: 70px;
    border: blue solid 1px;
    
}
.navbar-brand img{
    height: 100%;
}
.navbar-nav{
    border: red solid;
    width: 60%;
    justify-content: space-between;
    font-size: 18px;
}
.navbar-nav :hover{
    color:  var(--color-primario)!important;
}
.dropdown-menu{
    background: black!important;
    font-style: normal
}
.dropdown-item:hover{
    background: var(--color-primario)!important;
    color: white!important;
}
