.bannerVideoIndex{
    margin: 0px!important;
}
.bannerVideoIndex video{
    height: 600px;
    width: 100%;
    object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
}
.bannerVideoIndexMobile{
    display:none
}
.categoriasIndex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0 auto 70px auto;
    background: black;
    padding-top: 50px;
    padding-bottom: 100px;
}
.categoria{
    width: 220px;
    height:170px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.categoria:hover .nombreCategoria{
    text-decoration:underline;
    font-weight: bold;
}
.imagenCategoria{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: hidden; 
}
.imagenCategoria img{
    overflow: hidden; 
    height: 170px;
}
.nombreCategoria{
    font-size: 16px;
    color: white;
    margin-top: 10px;
}
.cajaCuentaRegresiva{
    text-align:center;
    margin-bottom: 80px;
}
.tituloRegresiva{
    font-size: 40px;
    font-weight:bold;
    margin-bottom: 30px;
    animation: colorChange 3s ease-in-out infinite;
    font-style: italic;
}
@keyframes  colorChange {
  0% { color: var(--color-primario); }
  25% { color: #ff2912; }
  50% { color: black; }
  75% { color: #ff2912; }
  100% { color: var(--color-primario); }
}
.countdown{
    display: flex;
    justify-content:center;
    font-size:30px;
    height: 100%;
    align-items: center;
}
.time{
    margin: 0 20px;
    width: 80px;
    text-align: center;
    margin: 0 2% 0 2%;
}
.unidadDeMedida{
    font-size:40px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: var(--color-primario);
    border-radius:5px
}
.unidadEscrita{
    color: black;
    font-size:17px;
    font-weight: bold;
    margin-top: 10px;
}

/* CAROUSEL flickity */
.cajaCarouselFlickity{
    width: 93%;
    margin: 0 auto 120px auto;
    overflow: hidden;
    position: relative;
}
.guitarraCarouselFlickity {
    width: 25%;  /* Determina la cantidad de cajas que se van a ver del carrousel */
    height: 450px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenGuitarraCarousel{
    height: 350px;
    margin: 0;
}
.guitarraCarouselFlickity img{
    height: 350px;
    margin: 0;
}
.nombreGuitarraIndex{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px auto 0 auto;  
    transform: skew(-15deg);
    padding: 0 5px;
}
.flickity-prev-next-button.previous {
    position: absolute;
    left: 0% !important;
    color: red!important;
    background: transparent;
    border: transparent;
    top: 50%;
    width: 45px;
    z-index: 50;
}
.flickity-prev-next-button.next {
    position: absolute;
    right: 0% !important;
    color: red!important;
    background: transparent;
    border: transparent;
    top: 50%;
    width: 45px;
    z-index: 50;
}
.flickity-page-dots {  /* Pelotitas inferiores de navegacion */
    display: none;
}
@media (max-width:800px){
    .autoCarouselFlickity {
        width: 50%;
    }
}

.iconosIndex{
    margin: 50px auto 80px auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cajaIconoIndex{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size:15px;
    font-weight: bold;
    margin: 15px;
    position: relative;
    cursor: crosshair;
}
.cajaIconoIndex div{
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
    transition: .6s ease-in-out;
    padding: 20px;
}
.cajaIconoIndex img{
    height: 130px;
    object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
}
.cajaIconoIndex .front{
    transform: perspective(500px) rotateY(0deg);
    border: none;
    background: var(--color-primario);
    border-radius: 10px;
}
  /* en la propiedad Transform si quiero modificar el giro (vertircal, horizontal, izq a der, der a izq tengo que modificar rotateY a rotateX y los grados + a - */
.cajaIconoIndex .back{
    background-color: black;
    color: white;
    transform: perspective(500px) rotateY(180deg); 
    border: goldenrod solid 3px;
    border-radius: 10px;
}
.cajaIconoIndex:hover .front{
    transform: perspective(500px) rotateY(180deg);
}
.cajaIconoIndex:hover .back{
    transform: perspective(500px) rotateY(360deg);
}

@media (max-width:1100px){
    .iconosIndex{
        width: 90%;
    }
    .cajaIconoIndex{
        width: 120px;
        height: 120px;
    }
    .cajaIconoIndex div{
        height: 120px;
    }
    .cajaIconoIndex img{
        height: 90px;
    }
    .tituloRegresiva{
        font-size: 30px;
        margin: 15px ;
    }
}
@media (max-width:800px){
    .guitarraCarouselFlickity {
        width: 33%;  /* Determina la cantidad de cajas que se van a ver del carrousel */
    }
}
@media (max-width:700px){
    .categoria{
        width: 200px;
        height:150px;
        border: blue solid 2px;
    }
    .imagenCategoria{
        width: 100%;
        height: 170px;
        border: crimson solid 2px;
        border-radius: 5px;
    }
}
@media (max-width:680px){
    .bannerVideoIndex{
        display: none;
    }
    .bannerVideoIndexMobile{
        display: block;

    }
    .bannerVideoIndexMobile video{
        object-fit: cover; /* no achica la imagen, sino que la pasa por arriba */
        width: 100%;
    }
}
@media (max-width:480px){
    .guitarraCarouselFlickity {
        width: 50%;  /* Determina la cantidad de cajas que se van a ver del carrousel */
    }
}