.listadoPadre{
  border: blue solid 2px;
  margin: 30px 80px;
  display: flex;
  flex-wrap: wrap;  
}
.cajaProducto{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
}
.cajaImagenProducto{
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around; /*centra la imagen y el contenido */
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 5px;
}
.cajaImagenProducto img{
  height: 100%;
}
.cajaImagenProducto:hover img{
  filter: blur(5px);
}
.cajaImagenProducto span{
  position: absolute;
  background: black; /* color de las rayas de recuadro */
  transition: 0.3s ease-in-out;
}
.cajaImagenProducto span:nth-child(1){
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
}
.cajaImagenProducto span:nth-child(2){
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
}
.cajaImagenProducto span:nth-child(3){
  width: 3px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.cajaImagenProducto span:nth-child(4){
  width: 3px;
  height: 100%;
  top: -100%;
  right: 0;
}
.cajaImagenProducto:hover span:nth-child(1){
  left: 0;
}
.cajaImagenProducto:hover span:nth-child(2){
  right: 0;
}
.cajaImagenProducto:hover span:nth-child(3){
  bottom: 0;
}
.cajaImagenProducto:hover span:nth-child(4){
  top: 0;
}
.textoConHover{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 22px;
  letter-spacing: 3px;
  transition: .2s;
  font-weight: bold;
}
.textoConHover:hover{
  opacity: 1;
}
.precioProducto{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
}