.listadoPadre{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  width: 90%;
}
.cajaProducto{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
}
.cajaImagenProducto{
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around; /*centra la imagen y el contenido */
  text-align: center;
  box-shadow: 0 0 20px var(--color-primario);
  cursor: pointer;
  padding: 5px;
  background-color: white;
  transition: 0.3s ease-in-out;
}
.cajaImagenProducto:hover{
  background-color: rgba(41,40,45,.85);
}
.cajaImagenProducto img{
  height: 100%;
  transition: .3s ease-in-out;
}
.cajaImagenProducto:hover img{
  opacity: 0.4;
  transform: scale(1.05);
}
.cajaProducto button{
  border: none;
  border-radius: 5px;
  background-color: #F34E3A;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.cajaProducto button:hover{
  background-color: #333;
  color:white;
}
.textoConHover{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 22px;
  letter-spacing: 3px;
  transition: .2s;
  font-weight: bold;
  font-family: "Poppins";
}
.textoConHover:hover{
  opacity: 1;
  color: white;
}
.precioProducto{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
}

@media (max-width:480px){
  .listadoPadre{
    width: 100%;
  }
  .cajaProducto{
    width: 150px;
    margin: 10px;
  }
  .cajaImagenProducto{
    width: 150px;
  }
} 