.productosCarrito{
  border: violet solid 3px;
  width: 100%;
  display: flex;
}
.listadoPadre{
  border: blue solid 2px;
  margin: 30px 80px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}
.cajaProducto{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
}
.cajaImagenProducto{
  position: relative;
  width: 250px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around; /*centra la imagen y el contenido */
  text-align: center;
  box-shadow: 0 0 20px #f7ca47;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 5px;
  background-color: white;
}
.cajaImagenProducto img{
  height: 100%;
  
}
.cajaImagenProducto:hover img{
  filter: blur(5px);
}
.cajaImagenProducto span{
  position: absolute;
  background: black; /* color de las rayas de recuadro */
  transition: 0.3s ease-in-out;
}
.cajaImagenProducto span:nth-child(1){
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
}
.cajaImagenProducto span:nth-child(2){
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
}
.cajaImagenProducto span:nth-child(3){
  width: 3px;
  height: 100%;
  bottom: -100%;
  left: 0;
}
.cajaImagenProducto span:nth-child(4){
  width: 3px;
  height: 100%;
  top: -100%;
  right: 0;
}
.cajaImagenProducto:hover span:nth-child(1){
  left: 0;
}
.cajaImagenProducto:hover span:nth-child(2){
  right: 0;
}
.cajaImagenProducto:hover span:nth-child(3){
  bottom: 0;
}
.cajaImagenProducto:hover span:nth-child(4){
  top: 0;
}
.textoConHover{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 22px;
  letter-spacing: 3px;
  transition: .2s;
  font-weight: bold;
}
.textoConHover:hover{
  opacity: 1;
}
.precioProducto{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
}

/* ====== CARRITO DE COMPRAS ====== */

.container{
  display: flex;
  width: 30%;
  margin-bottom: 30px;
  border: red solid 3px;
}
#root{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.sidebar{
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}
















@media (max-width:1300px){
  .listadoPadre{
    margin: 30px 0px;
  }
} 
@media (max-width:480px){
  .cajaProducto{
    width: 150px;
    margin: 10px;
  }
  .cajaImagenProducto{
    width: 150px;
  }
} 