.formularioRegister{
    margin: 50px auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    width: 550px;
    border-radius: 15px;
    
    align-items: center;
}
.formularioRegister input{
    width: 90%;
    margin: 15px auto;
    font-size: 18px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
}
.formularioRegister input:hover{
    background-color: gainsboro;
    border-radius: 10px;
}
.formularioRegister select{
    width: 90%;
    margin: 15px auto;
    font-size: 18px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
}
.campoContraseña{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
}
.campoContraseña input{
    width: 100%; 
}
.campoContraseña span {  /* ojo de password */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);  /* centra el ojo sobre el eje Y */
    cursor: pointer;  /* el mouse se pone en modo hipervinculo al pasar sobre el ojo */
    display: none;/* asi no se ve a menos que escriba la contraseña */
}
.campoContraseña span i.hide-eye:before{
    content: "\f070";            /* aplica la cruz al ojo */
}
.campoContraseña input:not(:placeholder-shown) ~ span { /* Muestra el ojo al ingresar el password */
    display: block;         
}
@media (max-width: 700px){ 
    .formularioRegister{
        width: 90%;
    }
}
@media (max-width: 480px){ 
    .formularioRegister{
        width: 100%;
    }
}