.tituloSucursales{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 70px;
    background: var(--color-secundario);
    color: white;
}
.cajaSucursales{
    margin: 40px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}
.sucursal{
    border-bottom: #d7d7d7 solid 1px;
    display: flex;
    width: 600px;
    margin: 20px;
    padding-bottom: 40px;
}
.mapaSucursal{
    border: none!important;
}
.mapaSucursal iframe{
    width:250px;
    height: 200px;
    border: none;
}
.infoSucursal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.localidadSucursal{
    font-size: 20px;
    font-weight: bold;
    color: #858585;
}
@media (max-width: 1360px){ 
    .ultimaSucursal{
        border-bottom: none;
    }
    .sucursal{
        flex-direction: column;
        width: 300px;
    }
    .mapaSucursal iframe{
        width:200px;
        height: 150px;
    }
}
@media (max-width: 1000px){ 
    .tituloSucursales{
        font-size: 30px;
        padding: 0 10px;
    }
    .cajaRedesContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin: 50px auto 0px auto;
    }
    .mapaSucursal iframe{
        width: 300px;
        height: 200px;
    }
}
@media (max-width:800px){
    .cajaSucursales{
        justify-content: center;
        margin: 40px 20px;
    }
    .sucursal{
        width: 80%;
        text-align: center;
    }
} 
@media (max-width:480px){ 
    .mapaSucursal iframe{
        width: 100%;
    }
}