<!DOCTYPE html>
<html>
  
  <head>
    <%- include('partials/head.ejs') %>  
  </head>

  <header>
      <%- include('partials/header.ejs') %>
  </header>
  
  <body>
    oooooooooooooooooooo
    <div class="chota">asasasasasas</div>
    

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</html>
