<!DOCTYPE html>
<html>
  
  <head>
    <%- include('partials/head.ejs') %>  
  </head>

  <header>
      <%- include('partials/header.ejs') %>
  </header>
  
  <body>
    oooooooooooooooooooo
    <div class="chota">asasasasasas</div>
    <audio controls>
      <source src="/audio/solace.mp3" type="audio/mp3">
      Tu navegador no soporta la etiqueta de audio.
  </audio>

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</html>
