<!DOCTYPE html>
<html>
  
  <head>
    <%- include('partials/head.ejs') %>  
  </head>

  <header>
      <%- include('partials/header.ejs') %>
  </header>
  
  <body>

    <audio controls>
      <source src="/audio/solace.mp3" type="audio/mp3">
      Tu navegador no soporta la etiqueta de audio.
    </audio> 

    <div class="bannerVideoIndex">
      <video autoplay muted loop src="/images/index/video_banner_desktop.mp4A"></video>
    </div>
      
    <h2>NAVEGA POR CATEGORIA</h2>

    <div class="categoriasIndex">
      <a href="/productos/Guitarras electricas">
        <div class="categoria">
          <div class="imagenCategoria">

          </div>
          <div class="nombreCategoria">
            Guitarras Eléctricas
          </div>
        </div>
      </a>

      <a href="/productos/Guitarras acusticas">
        <div class="categoria">
          <div class="imagenCategoria">

          </div>
          <div class="nombreCategoria">
            Guitarras Acústicas
          </div>
        </div>
      </a>

      <a href="/productos/Bajos">
        <div class="categoria">
          <div class="imagenCategoria">

          </div>
          <div class="nombreCategoria">
            Bajos Eléctricos
          </div>
        </div>
      </a>

      <a href="/productos/Teclados">
        <div class="categoria">
          <div class="imagenCategoria">
            
          </div>
          <div class="nombreCategoria">
            Teclados
          </div>
        </div>
      </a>

      <a href="/productos/Baterias">
        <div class="categoria">
          <div class="imagenCategoria">

          </div>
          <div class="nombreCategoria">
            Baterias
          </div>
        </div>
      </a>

      <a href="/productos/Pedales">
        <div class="categoria">
          <div class="imagenCategoria">

          </div>
          <div class="nombreCategoria">
            Pedales
          </div>
        </div>
      </a>
    </div>

    <div class="cajaCuentaRegresiva">
      <div class="tituloRegresiva">PRECIOS EN PROMOCION FINALIZAN EN:</div>
      <div class="countdown" id="countdown">
          <div class="time">
              <div class="unidadDeMedida" id="days">00</div>
              <div class="unidadEscrita">Dias</div>
          </div>
          <div class="time">
              <div class="unidadDeMedida" id="hours"></div>
              <div class="unidadEscrita">Horas</div>
          </div>
          <div class="time">
              <div class="unidadDeMedida" id="minutes"></div>
              <div class="unidadEscrita">Min</div>
          </div>
          <div class="time">
              <div class="unidadDeMedida" id="seconds"></div>
              <div class="unidadEscrita">Seg</div>
          </div>
      </div>
    </div>

   <!-- Flickity HTML init -->
   <div class="cajaCarouselFlickity" data-flickity='{ "freeScroll": true, "wrapAround": true, "groupCells": true}'>
    <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702055288702.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">ABARTH</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702054229705.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">ARGO</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702053853985.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">CRONOS</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702055441486.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">MOBI</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702052967877.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">PULSE</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702054981786.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">TORO</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702054819657.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">DUCATO</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702053600542.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">FIORINO</div>
      </a></div>
      <div class="guitarraCarouselFlickity"><a href="">
          <div class="imagenGuitarraCarousel">
              <img src="images/productos/imagen1702052498144.pnga" alt="" class="imagenAumentada">
          </div>
          <div class="nombreGuitarraIndex">STRADA</div>
      </a></div>
    </div>

    <h2>¿Por qué comprar en Music Studio?</h2>
    <h3>Con más de 300 tiendas en todo el país, servimos a todos los músicos, donde quiera que se encuentren en su trayectoria musical.</h3>

    <div class="iconosIndex">
      <div class="cajaIconoIndex">
        <div class="face front">
          <img src="images/index/bolsa_envios.png" alt="">
        </div>
        <div class="face back">
          <div class="nombreIconoIndex">Compre con facilidad</div>
        </div>
      </div>
      <div class="cajaIconoIndex">
        <div class="face front">
          <img src="images/index/mano_baterista.png" alt="">
        </div>
        <div class="face back">
          <div class="nombreIconoIndex">Pruebe antes de comprar</div>
        </div>
      </div>
      <div class="cajaIconoIndex">
        <div class="face front">
          <img src="images/index/mano_heavy.png" alt="">
        </div>
        <div class="face back">
          <div class="nombreIconoIndex">Todos los estilos</div>
        </div>
      </div>
      <div class="cajaIconoIndex">
        <div class="face front">
          <img src="images/index/mundo.png" alt="">
        </div>
        <div class="face back">
          <div class="nombreIconoIndex">Envios a todo el mundo</div>
        </div>
      </div>
      <div class="cajaIconoIndex">
        <div class="face front">
          <img src="images/index/atencion.png" alt="">
        </div>
        <div class="face back">
          <div class="nombreIconoIndex">Atención las 24Hs</div>
        </div>
      </div>
    </div>


    <script src="/javascripts/countdown.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</html>
