<!DOCTYPE html>
<html>
  
  <head>
    <%- include('partials/head.ejs') %>  
  </head>

  <header>
      <%- include('partials/header.ejs') %>
  </header>
  
  <body>
      
      <div class="tituloSucursales">NUESTRAS SUCURSALES</div>
  
      <div class="cajaSucursales">
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8102833119938!2d-58.38096752353073!3d-34.60895855777625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad19e4254d7%3A0xc9a88525add98046!2sAv.%20de%20Mayo%20844%2C%20C1086%20CABA!5e0!3m2!1ses!2sar!4v1702660852451!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">CABA</div>
            <div class="direccionSucursal">Av. Mayo 844</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4381353460444!2d-58.79284682352937!3d-34.64363645960874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc944e17e673ff%3A0x6f641b3a21487d00!2sBlvd.%20Evita%2075%2C%20B1744%20Moreno%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702660927917!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">MORENO | GBA</div>
            <div class="direccionSucursal">Boulevard Evita 75</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.0821085522284!2d-58.790348523529026!3d-34.65262926008424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9455e95eb8ed%3A0x464d7774a3b3c89d!2sClaudio%20Mar%C3%ADa%20Joly%202570%2C%20B1744HIR%20Moreno%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702660997483!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">MORENO | GBA</div>
            <div class="direccionSucursal">Claudio Maria Joly 2570, Moreno</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.8708725577335!2d-58.6468740235359!3d-34.4807998510184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca4a7bab123bb%3A0x18e5e35e7adab164!2sColectora%20Oeste%20Ramal%20Pilar%202841%2C%20Don%20Torcuato%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702661030434!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">TORTUGUITAS | GBA</div>
            <div class="direccionSucursal">Colectora Oeste Ramal Pilar 2841</div>
          </div>
        </div>
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.5859807702423!2d-57.96750821163165!3d-34.91683810406981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e7cb575edd35%3A0x7c2b685cf85b1f9f!2sAv.%2044%20949%2C%20B1902%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702661064506!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">LA PLATA | GBA</div>
            <div class="direccionSucursal">Av 44 949 piso 16</div>
          </div>
        </div>
        <div class="sucursal ultimaSucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.9628461713196!2d-71.30368252325283!3d-41.13533703107567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7be593c01d13%3A0x9f01cfcac7d51827!2sFrancisco%20Pascasio%20Moreno%20618%2C%20R8400%20San%20Carlos%20de%20Bariloche%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses!2sar!4v1702661145881!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">BARILOCHE</div>
            <div class="direccionSucursal">Moreno 618 (Esquina Frey)</div>
          </div>
        </div>
      </div>
  
      <div class="tituloSucursales">NUESTROS SHOWROOMS</div>
  
      <div class="cajaSucursales">
        <div class="sucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.9823606310283!2d-58.72956082353688!3d-34.452595649534175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca20c117bf0e3%3A0xcd856576ed4b2105!2sTortugas%20Open%20Mall!5e0!3m2!1ses!2sar!4v1702667536922!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">TORTUGAS OPEN MALL</div>
            <div class="direccionSucursal">Ramal Pilar Km 36.5</div>
          </div>
        </div>
        <div class="sucursal ultimaSucursal">
          <div class="mapaSucursal">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.481984584392!2d-58.86342872391052!3d-34.61169675002447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc911270dd578b%3A0xad84ea88f9b3e53b!2sAv.%20Gaona%2013601%2C%20B1746%20Francisco%20Alvarez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1702667668483!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="infoSucursal">
            <div class="localidadSucursal">FRANCISCO ALVAREZ | MORENO</div>
            <div class="direccionSucursal">Gaona 13601</div>
          </div>
        </div>
      </div>

  </body>
  
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>

</html>