<footer>
    <div class="padreColumnasFooter">
        <div class="columnaFooter">
            <div class="logoFooter">Music Center</div>
            <img src="img/fiat-logo.png" style="width:100px">
            <div class="d-flex justify-content-start mt-4">
                <a class="redesFooter"><i class="fab fa-twitter"></i></a>
                <a class="redesFooter"><i class="fab fa-facebook-f"></i></a>
                <a class="redesFooter"><i class="fab fa-linkedin-in"></i></a>
                <a class="redesFooter"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="columnaFooter">
            <p class="tituloFooter">CONTACTO</p>
            <p>Lunes a Viernes de 09:00 a 20:00 hs</a></p>
            <p><i class="fa fa-map-marker-alt"></i> Talcahuano 985, CABA</p>
            <p><i class="fa fa-phone-alt"></i> +54 11-6666-6666</p>
            <p><i class="fa fa-envelope"></i> info@musicstore.com</p>
            <p><a href="/contacto"><i class="fa-solid fa-paper-plane"></i> Envianos un mensaje</a></p>
        </div>

        <div class="columnaFooter">
            <p class="tituloFooter">SECCIONES</p>
            <p><a href="/"><i class="fa fa-angle-right mr-2"></i> Home</a></p>
            <p><a href="/productos"><i class="fa fa-angle-right mr-2"></i> Todos los productos</a></p>
            <p><a href="/usuarios/login"><i class="fa fa-angle-right mr-2"></i> Ingresar</a></p>
            <p><a href="/usuarios/register"><i class="fa fa-angle-right mr-2"></i> Registrarse</a></p>
            <p><a href="/ubicacion"><i class="fa fa-angle-right mr-2"></i> Ubicación</a></p>
        </div>
    </div>

    <div class="cajaDesarrollador">
        <div>© <span>Music Center</span>. Todos los derechos reservados. Diseñado por <a href="https://elias-zurita.github.io/" target="_blank"><strong>Elias Zurita</strong></a></div>
    </div>
</footer>