<header>
    <div class="promoHeader">
        🔥 3 y 6 CUOTAS S/ INTERES con SANTANDER - 📞 11 2323 4545
    </div>
    
    <nav class="navbar navbar-expand-lg" style="padding-top: 0; padding-bottom: 0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">TODOS LOS PRODUCTOS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CATEGORIAS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Guitarras eléctricas</a></li>
                            <li><a class="dropdown-item" href="#">Guitarras acústicas</a></li>
                            <li><a class="dropdown-item" href="#">Guitarras españolas</a></li>
                            <li><a class="dropdown-item" href="#">Bajos eléctricos</a></li>
                            <li><a class="dropdown-item" href="#">Micrófonos</a></li>
                            <li><a class="dropdown-item" href="#">Amplificadores</a></li>
                            <li><a class="dropdown-item" href="#">Pedales</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <% if (locals.isLogged){ %> <!-- Si el usuario esta logueado muestra lo siguiente -->
                                <ul type="None">
                                    <li><img src="/images/usuarios/<%= locals.userLogged.avatar %>"></li>
                                    <li><a href="/usuarios/profile"><%= locals.userLogged.nombre %><%= locals.userLogged.apellido %></a></li>
                                    <li><a href="/usuarios/logout">Cerrar sesión</a></li>
                                </ul>
                            <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->
                            <li><a class="dropdown-item" href="/usuarios/login">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="/usuarios/register">Registrarse</a></li>
                            <li><a class="dropdown-item" href="/administrar">Administrar</a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
      </nav>
      

    
    
</header>