<header>
    <div class="promoHeader">
        🔥 3 y 6 CUOTAS S/ INTERES con SANTANDER - 📞 11 2323 4545
    </div>
    
    <nav class="navbar navbar-expand-lg" style="padding-top: 0; padding-bottom: 0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">TODOS LOS PRODUCTOS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CATEGORIAS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/productos/guitarrasElectricas">Guitarras eléctricas</a></li>
                            <li><a class="dropdown-item" href="/productos/guitarrasAcusticas">Guitarras acústicas</a></li>
                            <li><a class="dropdown-item" href="/productos/guitarrasEspañolas">Guitarras españolas</a></li>
                            <li><a class="dropdown-item" href="/productos/bajos">Bajos eléctricos</a></li>
                            <li><a class="dropdown-item" href="/productos/microfonos">Micrófonos</a></li>
                            <li><a class="dropdown-item" href="/productos/amplificadores">Amplificadores</a></li>
                            <li><a class="dropdown-item" href="/productos/pedales">Pedales</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
                    </li>
                    <% if (locals.isLogged) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;">
                                Hi <%= locals.userLogged.fullName %> 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/usuarios/profile">My profile</a>
                                <li><hr class="dropdown-divider"></li>
                                <a class="dropdown-item" href="/usuarios/logout">Logout</a>
                            </ul>
                        </li>
                        <% if (locals.userLogged.category == "admin") { %>
                            <div style="color: white!important"><a href="/administrar">Administrar</a></div>
                        <% } %>
                    <% } else { %>    <!-- Si no esta logueado muestra lo siguiente -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/usuarios/login">Iniciar Sesión</a></li>
                                <li><a class="dropdown-item" href="/usuarios/register">Registrarse</a></li>
                                <li><a class="dropdown-item" href="/administrar">Administrar</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
           
                <form class="d-flex" role="search" method="GET" action="/productos/buscar">
                    <input class="form-control me-2" type="search" name="buscar" placeholder="¿Qué estás buscando?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
      

    
    
</header>