<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    
    <body>
    
        <h1>LOGIN</h1>

        <form method="POST" action="/usuarios/login">
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="form-group">
                        <label><b>Correo electrónico:</b></label>
                        <input type="text" name="email" class="form-control">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="form-group">
                        <label><b>Password:</b></label>
                        <input type="password" name="password" class="form-control">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                        </label>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button type="submit" class="btn btn-primary">Loguearme</button>
                </div>
            </div>
        </form>
       
        
        <!-- Campo para funcionalidad de Ojo (visualizador de contraseña) -->
        <script>
            var eye = document.getElementById('Eye');
            var contraseña = document.getElementById('contraseña');
            eye.addEventListener("click", function(){   /* al hacer click en el ojo acciona */
                if (contraseña.type === "password") {  
                    contraseña.type = "text";       /* transforma el tipo password (encriptado) a texto */
                    eye.classList.add ("hide-eye"); /* tacha el ojo */
                } else {
                    contraseña.type = "password";    /* vuelve al formato encriptado */
                    eye.classList.remove ("hide-eye"); /* tilda y destilda el ojo tachado */
                }
            })
        </script>

    </body>
        
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>
