<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    
    <body>
    
        <h1>LOGIN</h1>

        <form method="POST" action="/usuarios/login">
            <div class="formularioLogin">
                <input 
                    type="text" 
                    name="email" 
                    class="form-control"
                    placeholder="九괦잺 Correo electr칩nico">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <div class="campoContrasenia">
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control"
                        id="contrase침a"
                        placeholder="游댐 Contrase침a">
                        <span>
                            <i class="fas fa-eye" id="Eye"></i>
                        </span>
                </div>
                <div class="invalid-feedback">
                </div>
                <div class="cajaCheckBox">
                    <div><input type="checkbox" name="remember_user" id="checkRecordarme"></div>
                    <label for="checkRecordarme" >Recordar mi usuario</label>
                </div>
                <button type="submit" class="loginButton">INGRESAR <i class="fa-solid fa-right-to-bracket"></i></button>
            </div>
        </form>
        
        <!-- Campo para funcionalidad de Ojo (visualizador de contrase침a) -->
        <script>
            var eye = document.getElementById('Eye');
            var contrase침a = document.getElementById('contrase침a');
            eye.addEventListener("click", function(){   /* al hacer click en el ojo acciona */
                if (contrase침a.type === "password") {  
                    contrase침a.type = "text";       /* transforma el tipo password (encriptado) a texto */
                    eye.classList.add ("hide-eye"); /* tacha el ojo */
                } else {
                    contrase침a.type = "password";    /* vuelve al formato encriptado */
                    eye.classList.remove ("hide-eye"); /* tilda y destilda el ojo tachado */
                }
            })
        </script>

    </body>
        
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>
