<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
 
    <h1>LOGIN</h1>

    <form method="POST" action= "/users/login" class="loginBody">
        <div class="formularioLogin">
            <input type="text" placeholder="NOMBRE" name="nombre" required>
            <div class="campoContraseia">
                <input type="password" placeholder="CONTRASEÑA" name="contraseña" id="contraseña" required style="width:100%">
                <span><i class="fas fa-eye" id="Eye"></i></span>
            </div>
            <button class="loginButton">
                INGRESAR <i class="fa-solid fa-right-to-bracket"></i>
            </button>
            <label class="recordarUsuario">
                <div class="recordarme">
                    <input type="checkbox" name="recordarUsuario"  id="recordarUsuario"> Recordarme
                </div>
            </label>
        </div>
    </form>
    
    <!-- Campo para funcionalidad de Ojo (visualizador de contraseña) -->
    <script>
        var eye = document.getElementById('Eye');
        var contraseña = document.getElementById('contraseña');
        eye.addEventListener("click", function(){   /* al hacer click en el ojo acciona */
            if (contraseña.type === "password") {  
                contraseña.type = "text";       /* transforma el tipo password (encriptado) a texto */
                eye.classList.add ("hide-eye"); /* tacha el ojo */
            } else {
                contraseña.type = "password";    /* vuelve al formato encriptado */
                eye.classList.remove ("hide-eye"); /* tilda y destilda el ojo tachado */
            }
        })
    </script>

  </body>
    
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>
