<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
 
    <h1>PERFIL</h1>
    

  </body>
    
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>
