<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <body>

        <h1>CARRITO DE COMPRAS</h1>
        
        <ul>

        </ul>

    </body>
  
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>

